<!-- <div ng-controller="HeaderController as ctrl"> -->
<div>


            <div class="md-toolbar-tools">
                <!-- <md-button class="md-icon-button" aria-label="Settings">
                     <md-icon md-svg-icon="./assets/images/local_hospital.svg"></md-icon>
                </md-button> -->
                <!--<span><img src="./assets/images/LogoRed.jpeg" class="logo"></span>-->

                <h2>
                    <span>Quote Me</span>
                </h2>
                <span flex></span>
                <!-- <md-menu>
                    <h2 ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                        <span>{{selectedPatient.name}}</span>
                    </h2>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="selectedPatient in patients" ng-model="selectedPatient">
                            <md-button ng-click="changePatient(selectedPatient)">
                                {{selectedPatient.name}}
                            </md-button>

                        </md-menu-item>
                    </md-menu-content>
                </md-menu> -->
                <!-- <md-menu>
                    <md-button class="md-icon-button" aria-label="More" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                        < <md-icon md-svg-icon="./assets/images/more_vert.svg"></md-icon> -->
                    <!-- </md-button> -->
                    <!-- <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="editPatient(selectedPatient)">
                                Edit Patient
                            </md-button>

                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="addPatient()">
                                Add Patient
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <a href="/logout">Logout</a>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu> -->
            </div>
        
</div>
