<!DOCTYPE html>
<div class="container">


    <form name="quoteForm" class="" novalidate>

          <label>Quote:</label>
          <input type="text" class="form-control" name="quote" ng-model="quote.quote" required>

          <label>Name:</label>
          <input type="text" class="form-control" name="name" ng-model="quote.name" required>

          <label>Location:</label>
          <input type="text" class="form-control" name="location" ng-model="quote.location" required>

          <label>Date:</label>
          <input type="date" name="date" ng-model="quote.date" required>


      <button ng-click="addQuote()" id="addCondition" class="btn btn-primary" ng-disabled="quoteForm.$invalid">Add Quote</button>
    </form>



    <!--<div ui-grid="{data: conditions}" class="conditionGrid"></div>-->
    <div ui-grid="gridOptions" class="quoteGrid"></div>

</div>
